[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
tqdm = "*"
alembic = "*"
tabulate = "*"
pandas = "*"
beautifulsoup4 = "*"
d2api = "*"
gql = {extras = ["all"], version = "*"}

[dev-packages]
flake8 = "*"
pylint = "*"
