[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
python-dotenv = "*"
"dota2api" = "*"
"dota2" = "*"
requests = "*"
tqdm = "*"
alembic = "*"
tabulate = "*"


[dev-packages]

"flake8" = "*"
